body, div, a {
    padding:0;
    margin:0;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#calculator {
	background-color: #90cfeb;
	width: 320px;
	height: 290px;
	border: 3px black solid;
	margin: 10px auto;
	padding: 8px;
	border-radius: 10px;
}

#total {
    height: 35px;
    width: 220px;
    margin:auto;
    background-color:white;
    margin-bottom: 5px;
    text-align: right;
    font-size: 20px;
    padding: 0px 5px 15px 5px;
    display: inline-block;
    border-radius: 5px;
}

#numbers, #operators {
	margin: auto;	
}

#operators a {
	display: block;
	width: 50px;
	height: 30px;
	float: left;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 19px;
	padding: 5px;
	margin: 5px 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
	background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
	border-radius: 5px;
}

#numbers a {
	display: block;
	width: 50px;
	height: 30px;
	float: left;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 19px;
	padding: 5px;
	margin: 5px 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
	background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
	border-radius: 5px;
}
#clear{
	display: block;
	width: 50px;
	height: 30px;
	float: left;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 19px;
	padding: 6px;
	margin: 5px 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
	background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
	border-radius: 5px;
}

a:hover{
    background: -webkit-gradient(linear, left top, left bottom, from(#DCDCDC), to(#EDEDED));
    background: -moz-linear-gradient(top,  #DCDCDC,  #EDEDED);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCDCDC', endColorstr='#EDEDED');
}